{% extends 'base.html' %}

{% block jumbotron %}

<div class="jumbotron">
  <h1>Welcome Home</h1>
  <p>This is a django-based applications for locating specific spot with open-source API. It is certainly an interesting development practice for a back-end engineer.</p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">View more projects &raquo;</a>
  </p>
</div>

{% endblock %}

{% block content %}

<form method="POST" action="">{% csrf_token %}
  <input type="text" name="search" />
  <input type="submit" value="submit" />
</form>

{% if locations %}

<h3>Your search for: {{ query }}</h3>
<ul>
  {% for location in locations %}
  <li><a href="{% url 'single_location' location.1 %}">{{ location }}</a></li>
  {% endfor %}
</ul>

{% elif query %}

<h3>No results for: {{ query }}</h3>

{% endif %}

{% endblock %}

